[Unit]
Description=Papertrail

After=docker.service
Requires=docker.service
After=consul@%i.service
Wants=consul@%i.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=10m # startup can take awhile when pulling docker images
TimeoutStopSec=10m

Environment=DOCKER_REPO=quay.io/democracyworks/papertrail
Environment=VERSION=7.4.4
Environment=CONTAINER=papertrail

ExecStartPre=-/usr/bin/docker kill ${CONTAINER}
ExecStartPre=-/usr/bin/docker rm ${CONTAINER}
ExecStartPre=/usr/bin/docker pull ${DOCKER_REPO}:${VERSION}

ExecStart=/bin/bash -c 'docker run --name ${CONTAINER} --restart=always \
  --publish-all --publish 514:514/udp \
  --env PAPERTRAIL_PORT=$(curl -s http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/papertrail/port?raw) \
  ${DOCKER_REPO}:${VERSION}'

ExecStop=/usr/bin/docker stop ${CONTAINER}

[X-Fleet]
# this ensures we run one and only one of these per cluster node
Conflicts=papertrail@*.service
